

<div class="container border col-lg-5 col-sm-6 mt-4">
  <h1 class="d-flex justify-content-center">Clean up your bathroom!</h1>
  <%= simple_form_for(@bathroom) do |f| %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file,
                required: true %>
    <div class="d-flex justify-content-center pb-2">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
