<h1>My Bathrooms</h1>
<button style="background-color: pink;" type="button">

<%= link_to 'Create a new bathroom', new_bathroom_path %>
<% @bathrooms.each do |bathroom| %></button>
  <div class="card">
    <p class="card-title"><%= bathroom.location %></p>
    <p class="card-text"><%= bathroom.price %></p>
    <p class="card-text"><%= bathroom.description %></p>
    <p> <%= link_to "Edit", edit_bathroom_path(bathroom) %> </p>
    <p></button>
    <button style="background-color: pink;" type="button">
      <%= link_to "Delete this bathroom",
      bathroom_path(bathroom),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %></button>
    </p>
  </div>
<% end %>
