
<div class="container">
  <h1> <%= @bathroom.description %> </h1>
  <div class="w-300">
    <%= cl_image_tag @bathroom.photo.key, height: 300, width: 500, crop: :fill %>
  </div>

  <div class="card">
    <p> <b> Location: </b><%= @bathroom.location %> </p>
    <p> <b> Price: </b><%= @bathroom.price %> </p>
    <p> <b> Name </b><%= "#{@user.first_name} #{@user.last_name}" %> </p>
    <p> <b> Phone number </b><%= @user.phone_number %> </p>
    <p> <b> Email </b><%= @user.email %> </p>
  </div>

<%# This should only show if user owns the bathroom %>
  <% if current_user == @bathroom.user %>
    <p>
      <%= link_to "Delete this bathroom",
      bathroom_path(@bathroom),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <% end  %>
    </p>



  <%= link_to 'Book this bathroom!', new_bathroom_booking_path(@bathroom) %>
  <%= link_to 'Back to bathrooms', bathrooms_path %>
</div>
