<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1>Your Host Bookings</h1>
  </div>

  <div class="d-flex justify-content-between">

    <div class="packet">
      <h2>Pending</h2>
      <% @bookings.each do |booking| %>
        <% if booking.status == "pending" && booking.bathroom.host == current_user %>
          <div class="card">
            <p class="card-text">User: <%= booking.user.email %></p>
            <p class="card-text"><%= booking.start_date_time %> to <%= booking.end_date_time %></p>
            <%= link_to 'See Details', host_booking_path(booking) %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="packet">
      <h2>Accepted</h2>
      <% @bookings.each do |booking| %>
        <% if booking.status == "accepted" && booking.bathroom.host == current_user %>
          <div class="card">
            <p class="card-text">User: <%= booking.user.email %></p>
            <p class="card-text"><%= booking.start_date_time %> to <%= booking.end_date_time %></p>
            <%= link_to 'See Details', host_booking_path(booking) %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="packet">
      <h2>Rejected</h2>
      <% @bookings.each do |booking| %>
        <% if booking.status == "rejected" && booking.bathroom.host == current_user  %>
          <div class="card">
            <p class="card-text">User: <%= booking.user.email %></p>
            <p class="card-text"><%= booking.start_date_time %> to <%= booking.end_date_time %></p>
            <%= link_to 'See Details', host_booking_path(booking) %>
        </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
