<div class="container max-width-100%">
<div class="title-show d-flex justify-content-center my-3">
      <h1>Your Booking</h1>
    </div>
  <div class="card">
    <div class="holder p-4">
      <p>Name: <%= @booking.user.last_name %>, <%= @booking.user.first_name %></p>
      <p>Mail address: <%= @booking.user.email %></p>
      <p>Status: <%= @booking.status %></p>
      <p>Date: <br> <%= @booking.start_date_time %> to: <br> <%= @booking.end_date_time %></p>

      <%= link_to 'Back to Bookings', host_bookings_path, class: 'button' %>
      <%= link_to 'Set Status', status_form_path(@booking), class: 'button' %>
    </div>
  </div>
</div>
