<h1>Your Booking</h1>
<p>User: <%= @booking.user.email %></p>
<p>Host: <%= @booking.bathroom.host.email %></p>
<p>Date: <%= @booking.start_date_time %> to <%= @booking.end_date_time %></p>
<%= link_to 'Back to Bookings', bookings_path %>
