<div class="container w-50">
  <%= link_to 'Back to Bookings', bookings_path, class: "button" %>
<div class="title-show d-flex justify-content-center my-3">
      <h1>Your Booking</h1>
    </div>
  <div class="card">
    <div class="holder align-self-center p-4">
      <p> <b>User:</b><%= @booking.user.email %></p>
      <p> <b>Status:</b> <%= @booking.status %></p>
      <p> <b>Host: </b><%= @booking.bathroom.host.email %></p>
      <p> <b> Date: </b><%= @booking.start_date_time %> to: <br> <%= @booking.end_date_time %></p>
    </div>
  </div>
</div>
